<h1>Listing transactions</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Amount</th>
      <th>Account</th>
      
     
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= link_to transaction.name, transaction %></td>
        <td><%= number_to_currency(transaction.amount, :unit => "$", :precision => 2) %></td>
        <td><%= link_to transaction.account.owner, transaction_path(transaction.id) %></td>   
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
